<nav class="navbar navbar-light navbarBG">
  <span class="navbar-brand mb-0 h1" (click)="navigateWithNavbar('all')"> Pantry Inventory</span>
</nav>
<nav class="navbar navbar-light navbarBG2 navbarSecondary">
  <span class="mb-0 h2 navigButton" routerLink="/pantry-list" routerLinkActive="active"> Pantry</span>
  <span class="mb-0 h2 navigButton" routerLink="/shopping-list" routerLinkActive="active"> Shopping List </span>
  <span class="mb-0 h2 navigButton" routerLink="/about" routerLinkActive="active"> About</span>
</nav>
